.nav-link{
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    animation: all 1s ease ;
    
}


nav .nav-link:hover{
    cursor: pointer;
    background-color: rgb(227, 227, 227);
    transition: 0.5s ease-in-out;

}

nav .nav-link:active{
    background-color: rgb(208, 208, 208);
}


body {
  background: linear-gradient(300deg, #ffffff, #7f7f7f, #2c2c2c);
  background-size: 500%;
  height: 1px;
  animation: all 1s ease;
}

.tema-escuro{
    background-position: 0% 10%;
    transition: 1s ease;

}
.tema-claro{
    background-position: 100% 50%;
    transition: 1s ease;
    
}

.tema-claro section li, .tema-claro section ul, .tema-claro section div{
    background-color: #585858;
    color: white;
    
}

.tema-claro .card{
    box-shadow: 0 0 15px gray;
}
